In [2]:
import os
import pandas as pd

In [ ]:
os.getcwd()

In [6]:
listDr=os.listdir()

In [12]:
os.getcwd()

'C:\\Users\\Farzad\\Python\\hafiz'

In [13]:
os.chdir('DhlRateSheet')

In [14]:
os.getcwd()

'C:\\Users\\Farzad\\Python\\hafiz\\DhlRateSheet'

In [15]:
listDr=os.listdir()

In [18]:
if 'other.csv' in listDr:
    OtherRate=pd.read_csv('other.csv')

In [41]:
DoxRate=OtherRate.iloc[3:8, 0:12]

In [42]:
DoxRate.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
3,Weight\n(Kg),Zone 1,Zone 2,Zone 3,Zone 4,Zone 5,Zone 6,Zone 7,Zone 8,Zone 9,Zone 10,Zone 11
4,0.5,"3,577","2,979","3,692","3,987","3,925","4,192","3,561","4,927","4,119","2,291","2,367"
5,1.0,"4,404","3,818","4,555","5,580","5,543","5,990","4,056","6,606","4,883","2,605","3,103"
6,1.5,"5,231","4,656","5,419","7,172","7,161","7,788","4,592","8,286","5,647","2,919","3,838"
7,2.0,"6,059","5,495","6,283","8,765","8,779","9,585","5,481","9,966","6,412","3,233","4,574"

In [43]:
WpxRate=OtherRate.iloc[10:611, 0:12]

In [87]:
weight= 1.0
zone= 'Unnamed: 5'
weight in DoxRate['Unnamed: 0']

False

In [68]:
data2=DoxRate['Unnamed: 0']

In [86]:
for i in range(3, 8):
    if str(data2[i])==str(weight):
        print('found '+str(data2[i]))
    else:
        print('not found')

not found
not found
found 1.0
not found
not found

In [88]:
DoxRate.at[DoxRate.loc[DoxRate['Unnamed: 0']==str(weight)].index[0],zone]

'5,543'

In [91]:
def ratesheet(file, weight, zone):
    rate= file.at[file.loc[file['Unnamed: 0']==str(weight)].index[0],zone]
    return rate

In [92]:
ratesheet(WpxRate, 4.0, 'Unnamed: 6')

'17,214'